.cols {
	column-width: 30em;
	column-gap: 10px;
}

.Top {
}

.Middle {
  font-size: large;
}

.MiddleLeft {
  position: absolute;
  vertical-align: top;
  width: 45%;
}

.MiddleRight {
  width: 45%;
  vertical-align: top;
  margin-left:50%;
}

.Bottom {
}

li {
  font-size: large;
  padding-bottom: 5pt;
}

ul.inline {
  display: flex; 
  list-style: none;
}

ul.inline li {
  padding-left: 10px;
}
